@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.container{
	width:100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background:#000;
	color:#fff;
}

.card{
	width:90vw;
	padding: 20px;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border:2px solid #fff;
	border-radius:20px;
	-webkit-box-shadow: -1px 10px 92px -20px rgba(181,181,181,0.59);
-moz-box-shadow: -1px 10px 92px -20px rgba(181,181,181,0.59);
box-shadow: -1px 10px 92px -20px rgba(181,181,181,0.59);
transition: all ease-in 0.5s;
}
@media screen and (min-width: 480px) {
  .card h1{
	  font-size:2rem;
	}
	blockquote{
		font-size:14px;
	}
}
.card:hover{
	transform: scale(1.03);
}
.heading{
	position: relative;
	top: -2%;
	padding:30px;
}
.card h1{
	margin:20px;
	border-bottom: 3px solid ;
	width:80%l
}

.card h3{
padding-top: 2px;
margin:14px;
border-top: 1px solid;
width: 80%;

}

blockquote{
	width:80%;
}
